.map {
  width: 100%;
  height: 500px;
  padding-top: 50px;
  margin-bottom: 80px;
  overflow: hidden;
}
.box-map {
  text-align: center;
  font-size: 140%;
  padding-top: 30px;
}
.adressMap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map div,
.map div a,
.map div a::before,
.map div a::after {
  color: black;
}
