/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Tilt+Neon&display=swap"); */
@font-face {
  font-family: "CoreSansDS75Black";
  src: url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.eot");
  src: url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/65bf41193b7e61ce60e9435ced658cbb.svg#CoreSansDS75Black")
      format("svg");
}
:root {
  --redColor: #d31340;
  --blackColor: #000000;
  --whiteColor: #ffffff;
}
body {
  font-family: "CoreSansDS75Black", "Tilt Neon", sans-serif;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ececec;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.section {
  border-bottom: 1px solid grey;
  padding: 100px 0;
}
section:last-child {
  margin-bottom: 100px;
}
.header,
footer {
  padding: 10px;
  background-image: url("../Header/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 25;
}
.header {
  padding: 10px 0;
  width: 100%;
  margin-top: 4px;
}
a {
  text-decoration: none;
  color: var(--blackColor);
}
