.SpecialDishTitle_title {
  font-size: 2rem;
  color: var(--redColor);
  text-align: center;
}
.SpecialDishTitle_description {
  color: grey;
  text-align: center;
}
.SpecialDishTitle_description_box {
    margin: 0 auto;
    width: 50%;
}
.SpecialDishTitle_text {
  margin-bottom: 40px;
}