.HeroImg_title span {
  color: rgb(226, 85, 85);
}
.HeroImgBox img {
  height: 400px;
  width: 100%;
}
/* .HeroImgBox img {
  position: relative;
  width: 100%;
  z-index: 5;
  border-radius: 30px;
} */

.hero_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
